{% extends "layout.html" %}

{% set title = "Apply for Loan" %}

{% block title %}
{{ title }}
{% endblock %}

{% block main_content %}

<div class="col-sm-7 col-md-6 col-lg-5 ">
  <h3>{{ title }}</h3>
  <br>

    <table class="table-condensed">
        <tbody>
            <tr>
                <td align="right">For:</td>
                <td><b>{{ user.detail.full_name }}</b></td>
            </tr>
            <tr>
                <td align="right" valign="top">Loan Type:</td>
                <td><b>{{ service.name }}</b><br>
                    {% set s = service.description.split('\n') %}
                    <!-- {{ service.description}}<br> -->
                    <small class="text-muted">
                    {% for l in s %}
                    {{ l }}<br>
                    {% endfor %}
                    </small>
                </td>
            </tr>
            <tr>
                <td align="right">Interest Rate:</td>
                <td><b>{{ service.interest_rate }}</b></td>
            </tr>
            <tr>
                <td align="right">Amount:</td>
                <td><input type="text" class="form-control" name="amount"></td>
            </tr>
            <tr>
                <td align="right">Terms:</td>
                <td><select class="form-control">
                    <option>1</option>
                    <option>-</option>
                    <option>2</option>
                    <option>3</option>
                    </select>
                    {# TODO: continue here #}
                </td>
            </tr>

        </tbody>
    </table>

</div>

{% endblock %}
