{% extends "layout.html" %}

{% set title = "Apply for Loan" %}

{% block title %}
{{ title }}
{% endblock %}

{% block main_content %}

<div class="col-sm-7 col-md-6 col-lg-5 ">
  <h3>{{ title }}</h3>
  <br>

    <table class="table-condensed">
        <tbody>
            <tr>
                <td align="right">For:</td>
                <td><b>{{ user.detail.full_name }}</b></td>
            </tr>
            <tr>
                <td align="right">Loan Type:</td>
                <td><b>{{ service.name }}</b></td>
            </tr>
            <td></td>
            <td>
                {% set s = service.description.split('\n') %}
                <!-- {{ service.description}}<br> -->
                <small class="text-muted">
                {% for l in s %}
                {{ l }}<br>
                {% endfor %}
                </small>
            </td>

        </tbody>
    </table>

</div>

{% endblock %}
