{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout.html" %}

{% set title = "Apply for Loan" %}

{% block title %}
{{ title }}
{% endblock %}

{% block main_content %}

<div class="col-sm-12 ">
  <h3>{{ title }}</h3>
  <br>

  <h4 class="h4-gray">Bank details</h4>

  	<div class="row">
  	<div class="col-sm-6 col-md-6 col-lg-6">
	<table class="table-condensed">
		<tbody>
			
			<form action="{{ url_for('member.apply_for_loan_checkout', user=user, service=service, loan=loan) }}" method="POST">
				{{ form.csrf_token() }}
				<tr>
					<td align="right">Bank Name:</td>
					<td><select class="form-control" id="bank_name" name="bank_name">
						{% for i in form.bank_name.choices %}
							<option value={{ i[0] }} {% if i[0] == form.bank_name.data%}selected{% endif %}>{{ i[1] }}
							</option>
						{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td align="right">Account&nbsp;Number:</td>
					<td><input type="text" class="form-control" id="account_number" name="account_number" required value="{{ form.account_number.data }}"></td>
				</tr>
				<tr>
					<td align="right">Account&nbsp;Name:</td>
					<td><input type="text" class="form-control" id="account_name" name="account_name" required value="{{ form.account_name.data }}"></td>
				</tr>
				<tr>
					<td align="right">Save&nbsp;Account:</td>
					<td>{{ form.save_account }}</td>
					{# <td><input type="checkbox" class="form-control checkbox" id="save_account" name="save_account" value="{{ form.save_account.data }}"></td> #}
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="submit" class="btn btn-primary" name="submit" value="Submit" formaction="{{ form.submit }}">
					</td>
				</tr>
			</form>

		</tbody>
	</table>
	</div>

	<div class="col-sm-6 col-md-6 col-lg-6">
		<div class="panel panel-default">
			<div class="panel-body">
			<small><small>
				<b>Loan Details:</b>
				<br>
				<table class="table-condensed">
					<tr>
						<td width="100px;">
							For:<br>
							Loan Type:<br>
							Amount:<br>
							Terms:
						</td>
						<td>{{ user.detail.full_name }}<br>
							{{ service.name }}<br>
							{{ loan.amount|money }}<br>
							{{ loan.terms }} month{{loan.terms|pluralize }}
						</td>
					</tr>
				</table>
				<b>Adjustments:</b>
				<br>
				<table class="table-condensed">
					<tr>
						<td width="100px;">Previous Balance:<br>
							Processing Fee:<br>
							Net Proceeds:
						</td>
						<td align="right">{{ loan.previous_balance|money }}<br>
							{{ loan.processing_fee|money }}<br>
							{{ loan.net_proceeds|money }}
						</td>
					</tr>
				</table>
				<b>Amortization:</b>
				<br>
				<table class="table-condensed">
					<thead>
						<th>No.</th>
						<th>Due date</th>
						<th>Principal</th>
						<th>Interest</th>
						<th>Total</th>
						<th>Ideal Balance</th>
					</thead>
			        <tbody>
			            {% for am in amortization %}
			            <tr>
			                <td>{{ loop.index }}</td>
			                <td>{{ am.due_date | date }}</td>
			                <td align="right">{{ am.principal | money }}</td>
			                <td align="right">{{ am.interest | money }}</td>
			                <td align="right" style="background-color : lightgray;">{{ (am.principal + am.interest) | money }}</td>
			                <td align="right">{{ am.ideal_balance | money }}</td>
			            </tr>
			            {% endfor %}
			        </tbody>
				</table>
			</small></small>
			</div>
		</div>

	</div>
	</div>


	

</div>

{% endblock %}
