{# {% import "bootstrap/wtf.html" as wtf %} #}
{% extends "layout.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block main_content %}

{# <div class="container"> #}
    {# <div class="row"> #}
        <div class="col-sm-7 col-md-6 col-lg-5 ">
            <h1>Dashboard</h1>

            <h4 class="h4-gray">Your account</h4>

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table-condensed">
                        <tbody>
                            <tr>
                                <td align="right">{{form.tav.label.text}}</td>
                                <td><b>{{ "{:,.2f}".format(form.tav.data) }}</b></td>
                            </tr>
                            <tr>
                                <td align="right">{{form.remit_date.label.text}}</td>
                                <td><b>{{ form.remit_date.data | date }}</b></td>
                            </tr>
                            <tr>
                                <td align="right"></td>
                                <td><b>{{ "{:,.2f}".format(form.remit_amount.data or 0) }}</b></td>
                            </tr>

                        </tbody>
                    </table>

                </div>

            </div>

            <br>
            <h4 class="h4-gray">Services</h4>

            {% if services %}
                <div class="panel panel-default">
                     <div class="panel-body">
                        <table class="table-condensed">
                            {% for service in services %}
                            <tr>
                                <big><strong>{{ service.name }}</strong></big><br>
                                {% set s = service.description.split('\n') %}
                                <!-- {{ service.description}}<br> -->
                                <small>
                                {% for l in s %}
                                {{ l }}<br>
                                {% endfor %}
                                </small>
                                <a href="{{ url_for('member.apply_for_loan', user_id=current_user.id, service_id=service.id) }}">
                                  <input type='button' class="btn btn-primary btn-md" value='Apply now'>
                                </a>
                                <br>
                                <br>

                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% endif %}


        </div>
    {# </div> #}
{# </div> #}

{% endblock %}
