{# {% import "bootstrap/wtf.html" as wtf %} #}
{% extends "layout.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block main_content %}

{# <div class="container"> #}
    {# <div class="row"> #}
        <div class="col-sm-7 col-md-6 col-lg-5 ">
            <h1>Dashboard</h1>

            <h4 class="h4-gray">Your account</h4>

            {#
            <form class="form-horizontal">

                <div class="form-group">
                    {{ form.tav.label(class_="col-lg-4 control-label") }}
                    <div class="col-lg-8">
                        <p class="form-control-static">
                            {{ "{:,.2f}".format(form.tav.data) }}
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    {{ form.remit_date.label(class_="col-lg-4 control-label") }}
                    <div class="col-lg-8">
                        <p class="form-control-static">
                            {{ form.remit_date.data  }}
                        </p>
                    </div>
                </div>

            </form>
            #}

            <div class="panel panel-default">
                {# <div class="panel-heading h4-gray">General Info</div> #}
                <div class="panel-body">
                    <table class="table-condensed">
                        <tbody>
                            <tr>
                                {% set header1 = form.tav.label %}
                                <td align="right">TAV</td>
                                <td><b>{{ "{:,.2f}".format(form.tav.data) }}</b></td>
                            </tr>
                            <tr>
                                <td align="right">Last Remittance</td>
                                <td><b>{{ form.remit_date.data }}</b></td>
                            </tr>
                            <tr>
                                <td align="right"></td>
                                <td><b>{{ "{:,.2f}".format(form.remit_amount.data or 0) }}</b></td>
                            </tr>


                        </tbody>


                    </table>




                </div>



            </div>

            <br>
            <br>
            <br>
            <h4 class="h4-gray">Your Loans</h4>
            <br>
            <br>
            <br>

        </div>
    {# </div> #}
{# </div> #}

{% endblock %}
